{% extends 'usuarios/base.html' %}

{% block conteudo %}
<style>
  body {
    background: none !important;
    background-color: white !important;
  }
</style>

<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Lobby</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>
<body>
    <div style="text-align: center;" class="container">
        <h1>Mande sua mensagem!</h1>

        <form id="form">
            <input class="form-control-sm" name="message" type="text"/>
            <h1> </h1>
            <div style="text-align: center;"> <h5> Log de mensagens: </h5></div>
        </form>
    </div>

    <div style="text-align: center;" id="messages"></div>

    <script type="text/javascript">
        // Suporte a ambiente de produção (HTTPS) e local (HTTP)
        let url = 'https://fazer-cultura1-db9bb7e9b88b.herokuapp.com';

        const chatSocket = new WebSocket(url);

        chatSocket.onmessage = function(e) {
            let data = JSON.parse(e.data);
            console.log('Data:', data);

            if (data.type === 'chat') {
                let messages = document.getElementById('messages');
                messages.insertAdjacentHTML('beforeend', `
                    <div>
                        <p>${data.message}</p>
                    </div>
                `);
            }
        }

        chatSocket.onopen = function() {
            console.log("WebSocket conectado com sucesso.");
        }

        chatSocket.onerror = function(error) {
            console.error("Erro no WebSocket:", error);
        }

        chatSocket.onclose = function(e) {
            console.warn("WebSocket fechado:", e);
        }

        let form = document.getElementById('form');
        form.addEventListener('submit', (e) => {
            e.preventDefault();
            let message = e.target.message.value;
            chatSocket.send(JSON.stringify({
                'message': message
            }));
            form.reset();
        });
    </script>
</body>
</html>
{% endblock %}