{% extends 'usuarios/base.html' %}
{% load static %}
{% block conteudo %}

<link rel="icon" href="{% static 'usuarios/iconeb.png' %}" type="image/icon" />
<body style="background: linear-gradient(to top,#101110 20%, #63d66f 80%); background-repeat: no-repeat; height: 100vh; margin: 0;">

<form method="post">
    {% csrf_token %}
    <div style="text-align: center;" class="container">
        <h1><img src="{% static 'usuarios/teste_icon.png' %}"></h1>

        <p>
            E-mail<br>
            <input name="email" type="email">
        </p>

        <p>
            Senha<br>
            <input name="senha" type="password">
        </p>

        <button type="submit">Entrar</button>
        
        <h6> <br> Ainda não tem uma conta? <a href="{% url 'cadastrar_usuario' %}">Cadastre-se</a></h6>

        {% for message in messages %}
            <div style="color: red;">{{ message }}</div>
        {% endfor %}
    </div>
</form>

</body>
{% endblock %}
