{% extends 'usuarios/base.html' %}

{% block conteudo %}
<style>
  body {
    background: none !important;
    background-color: white !important;
  }
</style>

<div class="container">
    <h1 class="text-center">Listagem de Usuários</h1>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>id_usuario</th>
                <th>email</th>
                <th>senha</th>
            </tr>
        </thead>
        <tbody>
            {% for usuario in usuarios %}
            <tr>
                <td>{{ usuario.id_usuario }}</td>
                <td>{{ usuario.email }}</td>
                <td>{{ usuario.senha }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
